<body>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let poema of arrayPoemas">
            <div class="col">
                
            <div class="card">
                
                <div class="card-body">

                    <h5>{{poema.title}}</h5>
             
                    <p class="card-text multi-line" >{{poema.content}}</p>
                   
                </div>
            </div> 
            </div>
        </div>
    </div>
</body>