<app-navbar></app-navbar>
<div class="form">
  <div class="form-panel ">
    <h1>Iniciar Sesión</h1>
    <div class="form-content">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label  for="username">Email</label>
          <input formControlName="email" (keyup)="onEmail($event)" placeholder="Email" id="username" type="text" name="username" required="required"/>
        </div>
        <div class="form-group">
          <label for="password">contraseña</label>
          <input formControlName="password" (keyup)="onPass($event)" placeholder="Password" id="password" type="password" name="password" required="required"/>
        </div>
        <div class="form-group">
          <a class="form-recovery" href="#">Olvidaste tu contraseña?
          </a>
        </div>
        <div class="form-group">
          <button style="background-color: white; color: black;"  type="button" (click)="submit()">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </div>
 
</div>




