

<div class="py-5 text-center">
  <div class="card text-center">
      <div class="card-header">
        <h5 *ngIf="tipoOperacion == '1'" class="card-title">Modo Editar</h5>
        <h5 *ngIf="tipoOperacion == '2'" class="card-title">Modo Ver</h5>
        <h5 *ngIf="tipoOperacion == '3'" class="card-title">Modo Eliminar</h5>
      </div>
      <div class="card-body">

        <p class="card-text" style="color: black;">{{poem.id}}</p>
        <p class="card-text">{{poem.title}}</p>
        <p class="card-text">{{poem.content}}</p>
      </div>
      <div class="card-footer text-muted">
       
        <button *ngIf="tipoOperacion == '3'" type="button" (click)="delete()" class="btn btn-danger">Eliminar</button>
        <a href="poemas" class="btn btn-success">Ir a poemas</a>
      </div>
    </div>

</div>
